:root {
  --primary: #4A9B38;
  --secondary: ;
  --white: #e9eff5;
  --dark-bg: #1e1a1d;
  --light-bg: ;
  --light-font: ;
  --dark-font: ;
  --platinum: #DEE7E7;
  --gray: #535657;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  cursor: pointer
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.navbar{
  background-color: var(--primary);
}

.navbar-nav {
  gap: 20px;
}

#login-page {
  padding: 150px 0px;
  background: var(--white);
}

.modal-title {
  text-align: center;
}

.login-container {
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.company-info {
  width: 400px;
}

.company-info h5 {
  font-size: 60px;
}

.company-info p {
  font-size: 18px;
}

.login-form {
  padding: 20px;
  border-radius: 8px;
  background-color: rgb(247, 242, 242);
  box-shadow: rgb(0 0 0 / 40%) 0px 3px 15px;
}

.login-form-btns {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  background-color: var(--dark-bg);
}

.footer-links {
  padding: 30px 0px;
}

.link {
  color: white;
  text-decoration: none;
}

.link:hover {
  color: white;
}